.container-page {
    background-color: #ffffff;
    width: 100%;
    padding: 0% 20%;
  }
  
  .workout-list {
    width: 100%;
    height: 427px;
    // padding: 0 7%;
    position: relative;
  }
  .workout-card {
    position: absolute;
    top: -85px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0px 4px 5px #eaeaea;
  }
  .card-content {
    width: calc(100% / 3);
    height: 250px;
    background-color: #ffffff;
  }
  .card-content img {
    width: 100%;
    height: 100%;
  }
  
  .card-item {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  
  .card-item img {
    width: 67px;
    height: 67px;
  }

  .card-content p {
    display: inline-block;
    max-width: 250px;
    font-size: 12px;
    color: #a4a4a4;
    flex-wrap: wrap;
    
  }

//   Content tab 
.content-tab {
    width: 100%;
  }
  .content-tab {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #eee;
  }
  .content-tab button {
    border: none;
    outline: none;
    padding: 16px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .content-tab button:focus {
    border-bottom: 1px solid red;
    color: red;
    z-index: 5;
  }

//   End content tab 

// listing
.block-gym {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .gym-card {
    width: 25%;
    height: 350px;
    position: relative;
  }
  .gym-card:hover .gym-icon {
    display: block;
    z-index: 1;
  }
  .gym-card:hover {
    border: 1px solid #eee;
  }
  
  .gym-content {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
  }
  .gym-content img {
    width: 100%;
    height: 70%;
  }
  .gym-content p {
    font-size: 16px;
  }
  .gym-content h5 {
    font-size: 16px;
  }
  .gym-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }
  .gym-icon-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 25px;
  }
  .gym-icon-img i {
    padding: 8px;
    border: 1px solid #eee;
  }
  .gym-icon-img i:hover {
    padding: 8px;
    background-color: red;
    color: white;
  } 
// End listing

// Comment review 
.block-comment {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 10%;
    border-bottom: 1px solid #eee;
  }
  
  .block-comment-slide {
    display: flex;
  }

  @-webkit-keyframes comment-slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    80% {margin-left: -1456px;}
  }
  .block-comment h1 {
    font-size: 37px;
    font-weight: 700px;
    font-family: 'Poppins Bold';
  }
  .block-comment h3 {
    font-size: 24px;
    font-weight: 600px;
  }
  .block-comment p {
    font-size: 18px;
    font-family: 'Poppins Medium';
    font-weight: 500px;
    color: #d2d2d2;
  }
  .block-comment-image {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .block-comment-image img {
    width: 67px;
    height: 67px;
    border-radius: 50%;
  }
  .block-comment-dot {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  .block-comment-dot i {
    color: #eee;
  }
  .block-comment-dot i:hover {
    color: red;
  }

  // Create Slider for block-comment 
  .block-comment-slide {
    
    text-align: center;
    overflow: hidden;
  }
  .comment-slider {
    width: 100%;
    align-items: center;
  }
// End comment review 
// Brands - Donors 
.block-donors {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 10px;
  }
  .block-information {
    width: 100%;
    padding: 20px 15%;
    background-color: #101211;
  }
  
  .block-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #ffffff;
    align-items: center;
    padding: 100px 0px 60px 0px;
    border-bottom: 1px solid white;
  }
  .block-about img {
    width: 200px;
    height: 50px;
  }
  .block-about p {
    max-width: 710px;
    font-family: 'Poppins';
    color: #d2d2d2;
  }
  .block-about i {
    padding: 0 25px;
  }
// End Brands - Donors 