.block-slide {
    padding: 0% 15%;
    width: 100%;
    background-image: url(/img/Slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .box-slide-text {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .box-slide-text h1 {
    font-size: 32px;
    font-weight: 700;
  }
  .box-slide-text h3 {
    font-size: 24px;
    font-weight: 700;
  }
  .box-slide-text p {
    font-size: 14px;
    font-weight: 50;
  }
  
  .box-slide-person {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }